<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mine.animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--<activity android:name=".MainActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<action android:name="android.intent.action.VIEW"/>-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->


        <!--物理动画-->
        <activity android:name=".PhysicsAnimationActivity">
        <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>



        <!--属性动画（包括值动画 / 对象动画 / 对象动画集）-->
        <activity android:name=".AnimatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!--视图动画（包括视图属性动画 / 帧动画 / 补间动画）-->
        <!--<activity android:name=".AnimationActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->



        <!--Fragment动画-->
        <!--<activity android:name=".FragmentAnimationActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->



        <!--布局动画-->
        <!--<activity android:name=".LayoutAnimationActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->




        <!--<activity android:name=".CanvasActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->
        <!--<action android:name="android.intent.action.VIEW"/>-->
        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->

    </application>

</manifest>