<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mine.material">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



<!--        <activity android:name=".TextfieldActivity">-->
<!--&lt;!&ndash;        <activity android:name=".SliderActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".NavigationViewsActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".SelectActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".DialogActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".CollapsingToolbarLayoutActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".AppBarLayoutActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".ChipsActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".BottomSheetsActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".BottomSheetDialogActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".BottomNavigationViewActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".CoordinatorLayoutActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".BottomAppBarActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".BadgeDrawableActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".ButtonActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".FloatingActionButtonActivity">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity android:name=".SnackbarsActivity">&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->





        <!--容器转换之Activity切换-->
        <activity android:name=".ContainerTransformActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContainerTransformOneActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--容器转换之Fragment切换-->
<!--        <activity android:name=".ContainerTransformFragmentActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!--容器转换之View切换-->
<!--        <activity android:name=".ContainerTransformViewActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <!--共享轴之Fragment切换-->
<!--        <activity android:name=".SharedAxisFragmentActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!--共享轴之Activity切换-->
<!--        <activity android:name=".SharedAxisActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".SharedAxisOneActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!--共享轴之Activity切换-->
<!--        <activity android:name=".SharedAxisViewActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->



        <!--渐退之Fragment切换-->
<!--        <activity android:name=".FadeThroughFragmentActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!--渐退之Activity切换-->
<!--        <activity android:name=".FadeThroughActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".FadeThroughOneActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <!--渐退之View切换-->
<!--        <activity android:name=".FadeThroughViewActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->




    </application>

</manifest>