<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mine.activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data android:name="five" android:value="\I'm MT" />
        <meta-data android:name="color" android:resource="@color/colorPrimary" />


        <!--<activity android:name=".SytleActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity> &lt;!&ndash; <activity android:name=".MainActivity"> &ndash;&gt;-->
        <!--&lt;!&ndash; <intent-filter> &ndash;&gt;-->
        <!--&lt;!&ndash; <action android:name="android.intent.action.MAIN" /> &ndash;&gt;-->
        <!--&lt;!&ndash; <action android:name="android.intent.action.VIEW" /> &ndash;&gt;-->
        <!--&lt;!&ndash; <category android:name="android.intent.category.LAUNCHER" /> &ndash;&gt;-->
        <!--&lt;!&ndash; </intent-filter> &ndash;&gt;-->
        <!--&lt;!&ndash; </activity> &ndash;&gt;-->



        <!--<activity android:name=".TwoActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="two" />-->
                <!--&lt;!&ndash; <category android:name="to" /> &ndash;&gt;-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->


        <!--<activity android:name=".OneActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="one" />-->

                <!--<category android:name="gk" />-->
                <!--<category android:name="gt" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity android:name=".ThreeActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="one" />-->
                <!--&lt;!&ndash; <data android:scheme="AA" &ndash;&gt;-->
                <!--&lt;!&ndash; android:host="BB" /> &ndash;&gt;-->
                <!--&lt;!&ndash; android:path="CC" &ndash;&gt;-->
                <!--&lt;!&ndash; android:pathPattern="DD" &ndash;&gt;-->
                <!--&lt;!&ndash; android:pathPrefix="EE" &ndash;&gt;-->
                <!--&lt;!&ndash; <data android:host="BB" &ndash;&gt;-->
                <!--&lt;!&ndash; android:port="123" &ndash;&gt;-->
                <!--&lt;!&ndash; android:scheme="AA" &ndash;&gt;-->
                <!--&lt;!&ndash; android:path="/C?h=b"/> &ndash;&gt;-->
                <!--<data android:mimeType="-/-" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->



        <activity android:name=".MetaDataActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="one"
                android:value="11" />
        </activity>


    </application>

</manifest>