<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mine.search">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--使用SearchView-->
<!--        <activity android:name=".SearchViewActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <action android:name="android.intent.action.SEARCH" />-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

<!--            &lt;!&ndash;支持搜索提示的SearchableActivity&ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="android.app.default_searchable"-->
<!--                android:value=".SuggestionSearchableActivity" />-->

<!--        </activity>-->



        <!--使用Search Dialog-->
        <activity android:name=".DialogSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--基本SearchableActivity-->
<!--            <meta-data-->
<!--                android:name="android.app.default_searchable"-->
<!--                android:value=".SearchableActivity" />-->

            <!--支持搜索提示的SearchableActivity-->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SuggestionSearchableActivity" />

        </activity>


        <!--此Activity作为输入搜索的Activity，又是展示搜索结果的Activity-->
<!--        <activity android:name=".SreachShowActivity" android:launchMode="singleTop">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <action android:name="android.intent.action.SEARCH" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

<!--            <meta-data android:name="android.app.searchable"-->
<!--                android:resource="@xml/suggestion_searchable"/>-->
<!--        </activity>-->



        <!-- ***************** Searchable Activity ************************* -->
        <activity android:name=".SearchableActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>


        <activity android:name=".SuggestionSearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/suggestion_searchable"/>
        </activity>





        <!-- ***************** 搜索建议提供器 ************************* -->

        <provider
            android:authorities="xxx"
            android:name=".BaseSearchRecentSuggestionsProvider" />
    </application>

</manifest>